<h1 class="display-4 text-center"><i class="material-icons md-48 md-dark">face</i> Buttons from Material library</h1>
<hr class="my-4">
<div class="test-btn-group text-center">
  <button mat-button class="mat-primary">PRIMARY</button>
  <button mat-button class="mat-accent">ACCENT</button>
  <button mat-button class="mat-warn">WARN</button>
</div>
<hr class="my-2">
<div class="test-btn-group text-center">
  <button mat-raised-button class="mat-primary">PRIMARY</button>
  <button mat-raised-button class="mat-accent">ACCENT</button>
  <button mat-raised-button class="mat-warn">WARN</button>
</div>
<hr class="my-2">
<div class="test-btn-group text-center">
  <button mat-stroked-button class="mat-primary">PRIMARY</button>
  <button mat-stroked-button class="mat-accent">ACCENT</button>
  <button mat-stroked-button class="mat-warn">WARN</button>
</div>
<hr class="my-2">
<div class="test-btn-group text-center">
  <button mat-icon-button class="mat-primary" aria-label="Primary">P</button>
  <button mat-icon-button class="mat-accent" aria-label="Accent">A</button>
  <button mat-icon-button class="mat-warn" aria-label="Warn">W</button>
</div>
<hr class="my-2">
<div class="test-btn-group text-center">
  <button mat-fab>FAB</button>
  <button mat-mini-fab>fab</button>
</div>

